---
title: Le Wagon Middleman boilerplate
---
    <body>

      <!-- Your banner code -->
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://wallpaperscraft.com/image/space_universe_nebula_star_light_95356_1920x1080.jpg');">
        <div class="banner-content">
          <h1>Some Unicorns</h1>
          <p>Very cool stuff, useful and smart</p>
          <%= link_to "Space out with the team!", "team.html", class: "btn btn-primary" %>

          <!-- <a class="btn btn-primary btn-lg">Space out with the team!</a> -->
        </div>
      </div>


      <!-- Your features code -->
      <div class="features text-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
             <img width="100px" height="100px" src="http://www.buildidaho.com/Documents%20and%20Settings/54/Site%20Documents/Subdivision%20Logos/Eagle%20Idaho/Silver-Moon-Ranch.png" >
             <h3>Discover the world</h3>
             <p>The earth is your new home.</p>
           </div>
           <div class="col-xs-12 col-sm-6 col-lg-3">
            <img width="100px" height="100px" src="http://wnydiamonds.com/wp-content/uploads/2015/11/diamond_PNG6701.png" >
            <h3>Pay online</h3>
            <p>No cash issues anymore.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
           <img width="100px" height="100px" src="https://image.spreadshirtmedia.com/image-server/v1/designs/11304606,width=178,height=178,version=1320836481/Alien-Shirts-Friendly-Grey-Alien-Extraterrestrial-Shirts.png">
           <h3>Meet people</h3>
           <p>Discover new culture and lifestyle.</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-lg-3">
           <img width="100px" height="100px" src="http://a4.mzstatic.com/us/r30/Purple4/v4/b9/55/cd/b955cdd2-2186-5cff-6d89-c093c20ca274/icon128-2x.png">
           <h3>Share and love</h3>
           <p>Join a community you will love.</p>
         </div>
       </div>
     </div>
   </div>


   <!-- Your cards code -->
   <div class="wrapper-grey padded">
       <h2 class="text-center">Your next trip!</h2>
   <div class="container">
   <div class="row">
   <% data.planets.each do |person, space| %>
   <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(60deg, rgba(255,0,255,0.5), rgba(86,255,0,0.5)), url('<%= space.spacepicture %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2 style="color: <%= space.favcolor %>"><%= space.name %></h2>
            <p><%= space.description %></p>
          </div>
          <img class="card-user avatar" src="<%= space.picture %>" style="box-shadow: 5px 5px 15px 10px <%= space.seccolor %>;} ">
          <%= link_to "", "planets/#{person}.html", class: "card-link"  %>
        </div>
   </div>

   <% end %>
   </div>
   </div>


    <!-- <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://wallpaperscraft.com/image/space_universe_nebula_star_light_95356_1920x1080.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="http://weknowyourdreamz.com/images/unicorn/unicorn-03.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://wallpaperscraft.com/image/space_universe_nebula_star_light_95356_1920x1080.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSHf4UdRPxgYydrI1Y1m4XaPAKQepbEvs2mvlLA_88-RgustJcp">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://wallpaperscraft.com/image/space_universe_nebula_star_light_95356_1920x1080.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTVgQotG8bPpvduZF2dbpA692w6Q9WV8St79jBYCXcbT8CYPkVXIQ">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
  </div> -->

  <!-- Your newsletter code -->
  <div class="text-center padded">
<h2>Get news from us</h2>
<p>Leave us your mail and get news from us</p>
    <form action="#" class="form-inline">
  <input type="email" class="form-control" placeholder="bob@gmail.com">
  <input type="submit" value="Subscribe" class="btn btn-primary">
</form>
</div>

  <!-- Your map code -->

  <div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>

  <!-- Your footer code -->

</body>
